@model IEnumerable<Mvc.Models.ProductViewModel>


@{
    ViewData["Title"] = "Products";
}

<h1>Product List</h1>

<p>
    <a asp-action="Create">Create a new Product</a>
</p>


 <form method="POST" asp-action="SearchProduct">
      <div class="form-group">
           <input  name="name" placeholder="Search..." class="form-control" />
           <input type="submit" value="Search" class="btn btn-primary" />
      </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Action
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>

                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id  })

           </td>
        </tr>
}
    </tbody>
</table>
